.register {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register .buttons{
    position: absolute;
    top: 60%;
    list-style-type: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register .btn {
    margin: 10px;
}